@model List<ContainerRouteAttraction>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <meta charset="utf-8" />
    <title>WebAppTourist</title>

</head>
<body>
    <div id="map"></div>

    <div class="div">
        <input type="button" onclick="showa()" class="button" value="Build Route">
        <input type="button" class="button" value="Next Route">
        <input type="button" class="button" value="My location">
    </div>

    <script>
        function showa()
        {
            @foreach (var item in Model)
            {
                @:coordArray('@item.CoordinatesRoute');

                @foreach (var it in item.attractions)
                {
                    @:ShowMarker(getLatLngFromString('@it.CoordinateAt'),'@it.Name','@it.Description', map);
                }

            }
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjUfDf5v52pKGCIKhBqlSW9IQZV3lcRJw &callback=initMap "
            async defer>

    </script>

</body>
</html>